*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ------ */
/* NAVBAR */
/* ------ */

.flex-container-navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 21.5px;
}

.flex-container-navbar * {
  padding: 19px 7.5px 4px 7.5px;
}

.nav-link {
  line-height: 24px;
  font-size: 13px;
  color: rgba(0,0,0, 0.87);
  text-decoration-color: rgba(0,0,0, 0.87);
  text-decoration-line: none;
}

.nav-link:hover {
  opacity: .85;
  text-decoration: underline;
}

/* --------- */
/* SEARCHBAR */
/* --------- */

.search-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
}

.search-bar {
  height: 44px;
  max-width: 582px;
  margin: 28px auto 0 auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.search-bar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.flex-container-search-buttons {
  display: flex;
  justify-content: center;
}

.flex-container-search-buttons > button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 30px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

/* --------------- */
/* ADVANCED SEARCH */
/* --------------- */

.advanced-navbar {
  background: #f1f1f1;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  padding: 15px 0px 10px 15px;
}

.nav-image-container, .nav-image-container * {
  padding: 0px;
  height: 33px;
  width: 92px;
}

.advanced-navbar-image {
  max-width:100%;
  height:auto;
}